<section class="about-section">
  <h1 class="about-section__title">About Me</h1>
  <div class="about-section__content">
    <img src="lauren-profile.jpg" alt="About me" class="about-section__image" />
    <div class="about-section__text-content">
      <div class="about-section__text">
        <p>
          Hi there! I am a dedicated software engineer with experience across
          the full stack, specializing in JavaScript, React, and Node.js. My
          passion for software engineering stems from my excitement about
          building applications that are innovative and create value for users.
          I thrive in environments where creativity and problem-solving are key,
          and I am always eager to take on new challenges that allow me to grow
          and refine my skills. Outside of work, I enjoy snowboarding,
          traveling, and playing pickleball.
        </p>
      </div>
    </div>
  </div>
  <a href="/contact" class="about-section__cta">Get in Touch</a>
</section>
