<section class="about-section">
  <div class="about-section__content">
    <h1 class="about-section__title">About Me</h1>
    <p class="about-section__text">
      I'm a Full Stack Software Engineer with a passion for building impactful
      web applications. With a strong foundation in both front-end and back-end
      technologies, I aim to create seamless user experiences and scalable
      systems.
    </p>
    <a href="/contact" class="about-section__cta">Get in Touch</a>
  </div>

  <img
    src="assets/images/about-image.jpg"
    alt="About me"
    class="about-section__image"
  />
</section>
