<header class="header">
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a class="header__nav-link" routerLink="/">Home</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" routerLink="/about">About</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" routerLink="/projects">Projects</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
