<section class="projects-section">
  <h1 class="projects-section__title">Projects</h1>

  <div class="projects-section__grid">
    <!-- Use *ngFor to loop through the projects array -->
    <div class="projects-section__card" *ngFor="let project of projects">
      <h2 class="projects-section__card-title">{{ project.title }}</h2>
      <p class="projects-section__card-text">
        {{ project.description }}
      </p>
      <a href="{{ project.link }}" target="_blank" class="projects-section__cta"
        >View Project</a
      >
    </div>
  </div>
</section>
