<section class="home-section">
  <div class="home-text">
    <h1>Lauren Felty</h1>
    <h2>Full Stack Software Engineer</h2>
    <p>
      I build modern, scalable web applications to solve real-world problems
      with precision and creativity.
    </p>
    <button class="cta-button" routerLink="/projects">View My Projects</button>

    <a href="assets/lauren-felty-resume.pdf" download class="cta-button"
      >Download My Resume</a
    >
  </div>
  <img src="assets/lauren-profile.jpg" alt="Lauren Felty" class="hero-image" />
</section>
